{% extends 'base.html.twig' %}

{% block title %}Hello AstronautController!{% endblock %}

{% block body %}


    <main>

    <h1 id="gros-titre">Astronautes</h1>

    <section>
        <table>

            <thead>
            <tr class="mention">
                <th colspan="1" id="hidden">Photo</th>
                <th colspan="1">Noms</th>
                <th colspan="1">Âge</th>
                <th colspan="1">Missions</th>
                <th colspan="1">Durée missions</th>
                <th colspan="1">Nationalité</th>
            </tr>
            </thead>

            <tbody>
                {% for astronaut in astronauts %}


                        <tr class="profil-mention">
                            <td><img src="{{ asset('uploads/Thomas_Pesquet_Img.png')}}"/></td>
                            <td>{{ astronaut.fullname }}</td>
                            <td>{{ astronaut.age }} ans</td>
                            <td>{{ astronaut.missionNumber }} </td>
                            <td>1465j</td>
                            <td>{{ astronaut.nationality }}</td>
                        </tr>
                {% endfor %}




            </tbody>
        </table>

    </section>

    </main>


{% endblock %}
