<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <header>

                <section class="container">

                    <a href="{{ path('homepage') }}" id="logo">
                        <p>Dragon Crew</p>
                    </a>

                    <nav id="main_nav">
                        <ul>
                            <li><a href="{{ path('mission') }}">Prochains vols</a></li>
                            <li><a href="{{ path('astronaut') }}">Astronautes</a></li>
                            <li><a href="{{ path('launcher') }}">Fusées</a></li>
                            <li><a href="{{ path('live') }}">Live View</a></li>

                            <button class="dropbtn"><a href="{{ path('app_login') }}">Connexion</a></button>

                            <li> <a href="#" id="login">
                                    <p>Inscription</p>
                                </a></li>


                        </ul>
                    </nav>

                </section>

        </header>
        

        {% block body %}{% endblock %}

        <footer>

        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
